* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    background-color: var(--main-bg-color);
    font-family: Garamond, serif;
    font-size: 100%;
}
:root {
    --main-bg-color: #b5c087;
    --second-bg-color: #3d4631;
}
.hero-image {
    background-image: url("./images/hero-bg.jpg");
    height: 600px;
    width: 100%;
    border: 3px solid #1111;
    background-position: center;
    background-size: cover; 
    background-size: 100% 100%; 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.hero-image img {
    height: 200px;
    margin: 30px;
}
.hero-text {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: 4em;
    background: none;
}
.name-text {
    background: none;
}
header {
    border: 3px solid --second-bg-color;
    background-color: var(--second-bg-color);
    position: sticky;
    top: 0;
}
header nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background: none;
}
header nav h2 {
    margin: 20px 20px;
    background: none;
    color: var(--main-bg-color);
    font-size: 2em;
}
.links {
    display: flex;
    padding: 0 55px;
    background: none;
}
.links li {
    display: flex;
    flex-wrap: wrap;
    margin: 15px;
    background: none;
    font-size: 1.5em;
}

.links a {
    color: var(--main-bg-color);
    background: none;
}
#about {
    color: var(--second-bg-color);
    padding: 50px 0;
}
#about span {
    font-size: 2em;
    border-bottom: 5px solid var(--second-bg-color);
    margin: 20px 0;
}
#about h3, p {
    margin: 10px 20px;
    line-height: 15px;
}

#work {
    border: 3px solid var(--second-bg-color);
    background: var(--second-bg-color);
    color: var(--main-bg-color);
}
#work h3 {
    background: none;
}
#work span {
    font-size: 2em;
    background: none;
    border-bottom: 5px solid #b5c087;
    padding: 0 5px;
    margin: 20px 20px;
}

#work img {
    height: 100px;
    width: 100px;
    margin: 10px 20px;
}
#run-buddy img {
    height: 200px;
    width: 80%;
}
.work-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 20px 20px;
    background: none;
}
.main-gallery-item {
    margin: 20px 20px;
    background: none;
}
.second-gallery-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: none;
    margin: 10px 10px;
}
.card a {
    background: none;
}
.card a h4 {
    background: none;
    color: #b5c087;
}
.card {
    text-align: center;
    color: var(--main-bg-color);
    background: var(--second-bg-color);
    box-shadow: 0 10px 10px 0;
}

#contact {
    display: flex;
    justify-content: space-between;
    padding: 50px;
}
#contact h3 {
    font-size: 2em;
    color: var(--second-bg-color);
    border-bottom: 5px solid #3d4631;
}
.contact-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.contact-links a {
   margin: 0 20px;
   color:#3d4631;
   font-size: 1.5em;
}

@media screen and (max-width: 835px) {
    .hero-text {
        font-size: 2.66em;
    }
}
@media screen and (max-width: 854px) {
    .hero-text img {
        height: 150px;
    }
}
@media screen and (max-width: 800px) {
    header {
        font-size: 9px;
    }
}
@media screen and (max-width: 547) {
    header {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
